body {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    background-color: lightgoldenrodyellow;
}

body h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* NAVIGATION */

#food-llc-brand {
    color: darkred;
}

#food-llc-navbar {
    background: bisque;
    border: 0;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color:black;
    text-align: center;
}

#nav-list a:hover {
    font-weight: bold;
}

#nav-list li:not(:last-child):after {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: 0 auto;
    background: darkred;
}

.navbar-toggle .icon-bar {
    background-color: darkred !important;
}

.navbar-collapse {
    border-color: darkred !important;
}

/* MENU ITEM */

.menu-item {
    position: relative;
    border: 2px solid darkred;
    background-color: bisque;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.menu-item h3 {
    text-align: center;
}

.menu-item:hover {
    box-shadow: 0 1px 5px 1px #333333;
}