body {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    background-color: lightgoldenrodyellow;
}

body h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* NAVIGATION */

#food-llc-brand {
    color: darkred;
}

#food-llc-navbar {
    background: bisque;
    border: 0;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    text-align: center;
    color: darkred;
}

#nav-list a:hover {
    color: white;
    background: darkred;
}

#nav-list > :not(:last-child) {
    border-bottom: 1px solid #9b0000;
 }


/* MENU ITEM */

.menu-item {
    position: relative;
    border: 2px solid darkred;
    background-color: bisque;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.menu-item h3 {
    text-align: center;
}

.menu-item:hover {
    box-shadow: 0 1px 5px 1px #333333;
}

/********** Medium devices only **********/

@media (min-width: 992px) {}

/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {}